<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.png">

    <title>Quizzer</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/starter-template/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <style>
      #snippet {
        width: 600px;
        height: 270px;
      }
      #results{
        width: 600px;
        height: 170px;
      }
      .block {
        margin: 10px 20px;
        display: inline-block;
      }
    </style>
  </head>

  <body style="">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Quizzer</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p>Connected: </p>
          <ul id="connected"></ul>
        </div>
        <div class="col-md-8">
          <div class="block">
            <span>Question No: </span>
            <select id="question_num">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
            <button id="get_question">Show Question</button>
            <button id="show_results">Show Results</button>
            <button id="afk">Raise Fingers</button>
          </div>
          <p id="question"></p>
          <p id="answer"></p>
        </div>
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/jquery/jquery-1.9.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    <script src="assets/backbone/backbone.babysitter.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect(window.location.origin);

      var Connections = Backbone.View.extend({
        el: '#connected',
        initialize: function () {
          this.container = new Backbone.ChildViewContainer();
          this.listenTo(this.collection, 'add', this.addConnection);
          this.listenTo(this.collection, 'remove', this.removeConnection);
        },
        addConnection: function (user) {
          var view = new UserView({model: user});
          this.container.add(view);
          this.$el.append(view.render().el);
        },
        removeConnection: function (user) {
          var view = this.container.findByModel(user);
          view.remove();
        }
      });

      var User = Backbone.Model.extend({
        idAttribute: '_id',
        initialize: function () {
          this;
        }
      });

      var UserView = Backbone.View.extend({
        tagName: 'li',
        template: _.template('<span>{{ name }} </span>', null, {interpolate: /\{\{(.+?)\}\}/g} ),
        initialize: function () {

        },
        render: function () {
          this.$el.html(this.template(this.model.attributes));
          return this;
        }
      });

      var UserCollection = Backbone.Collection.extend({
        models: User,
        initialize: function() {

        }
      });

      var app = new Connections({collection: new UserCollection() });

      socket.on('connected', function (data) {
        app.collection.add(new User(data));
      });

      socket.on('disconnected', function (data) {
        app.collection.remove(new User(data));
      });

      $('#get_question').click(function (evt) {
        var num = $('#question_num :selected').text();
        socket.emit('newQuestion', num, function (data) {
          $('#question').text(data);
        });
      });

      $('#start_quiz').click(function (evt) {
        socket.emit('startQuiz', function (num) {
          alert('Starting question number ' + num);
        });
      });

      $('#show_results').click(function (evt) {
        socket.emit('showResults');
      });
    </script>

</body></html>
