<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.png">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/starter-template/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <style>
      .btn-lg {
        font-family: "Lucida Grande", Consolas, serif;
      }
      textarea {
        padding: 2em;
        font-family: Monaco, Consolas, monospace;
        outline: none;
        background-color: #222;
        color: #fff;
        font-size: 1.1em;
        border-radius: 5px;
        border: 1px solid #444;
      }
      textarea:focus {
        background-color: #000;
      }
      body {
        background-color: #333;
        color: #fff;
        padding-top: 0;
      }
      #question {
        color: #aaa;
        font-family: "Lucida Grande", Arial, Helvetica, serif;
        line-height: 1.5em;
        width: 600px;
        margin: 0 auto;
        text-align: justify;
      }
      .popup {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        cursor: pointer;
        display: none;
      }
      .correct, .wrong {
        position: relative;
        opacity: 0.7;
        border: 1px solid #444;
        font-size: 1.2em;
        padding: 16px;
        margin: 0 auto;
        top: 50%;
        text-align: center;
        border-radius: 10px;
        width: 30%;
      }
      .correct {
        background-color: lightgreen;
        color: darkgreen;
      }
      .wrong {
        color: white;
        background-color: red;
      }
      #results {
        font-size: 12px;
      }
      #snippet {
        width: 600px;
        height: 270px;
      }
      #results{
        width: 600px;
        height: 170px;
      }
      .divider {
        color: #555;
      }
      .starter-template {
        padding-top: 0;
      }
    </style>
  </head>

  <body style="">

    <div class="popup">
      <div class="correct">
          <p><strong>Your answer is correct!</strong></p>
          <small>click anywhere to continue</small>
      </div>
      <div class="wrong">
          <p><strong>Your answer is wrong!</strong></p>
          <small>click anywhere to continue</small>
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h3>- Quizzer -</h3>
        <p class="question" id="question">
          ...
        </p>
        <br>
        <p><textarea id="snippet" rows="3" spellcheck="false" placeholder="// your code here..."></textarea></p>
        <p><button id="code_submit" type="submit" class="btn btn-lg btn-success"> Submit Code </button></p>
        <br>
        <p><textarea id="results" spellcheck="false" placeholder="// output here..."></textarea></p>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/jquery/jquery-1.9.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io.connect(window.location.href);
      socket.emit('connect');

      $('#code_submit').on('click', function (evt) {
        var code = $('#snippet').val();
        socket.emit('code', code, function (results) {
          var _result = results.result + '\n____\n' + $('#results').val();
          $('#results').val(_result);
        });
      });
      socket.on('question', function(q) {
        $('.question').html(q);
      });
      socket.on('results', function(r) {
        console.log(r);
        $('.popup').show();
        if (r) {
          $('.correct').show();
          $('.wrong').hide();
          return;
        }
        $('.wrong').show();
        $('.correct').hide();
      });

      $('.popup').on('click', function(e) {
        $(this).hide();
      });

    </script>

</body></html>